.asset-text md-content.preview {
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
  font-size: 12px;
  padding: 20px;
}

.asset-text md-content.preview table {
  border-collapse: collapse;
}

.asset-text md-content.preview td {
  border: 1px solid black;
  padding: 5px;
}
