.home-view {
  height: 100vh;
  position: relative;
}

.home-view > md-whiteframe {
  background-color: white;
  padding: 30px;

  /* size */
  height: 50vh;
  min-height: 500px;
  width: 50vw;
  min-width: 500px;

  /* center align */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-view > md-whiteframe > .buttons {
  flex: 1;
}
