pc-template {
  display: flex;
  flex-direction: column;
}

pc-template > .search {
  background-color: white;
  width: 40rem;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

pc-template > pc-previewable-code-editor iframe.preview {
  border: none;
}
