pc-template {
  display: flex;
  flex-direction: column;
}

pc-template > pc-previewable-code-editor div.search {
  background-color: #272822;
  position: absolute;
  width: 100%;
  z-index: 999;
}

pc-template > pc-previewable-code-editor div.search:not(:focus) {
  opacity: 0;
  transition: opacity 2s;
}

pc-template > pc-previewable-code-editor div.search.visible {
  opacity: 1;
  transition: opacity 0s;
}

pc-template > pc-previewable-code-editor div.search > md-switch {
  margin-left: 1rem;
}

pc-template > pc-previewable-code-editor .preview-container {
  color: white;
  position: relative;
}

pc-template > pc-previewable-code-editor .preview-container > .render-container {
  position: relative;
}

pc-template > pc-previewable-code-editor .preview-container > .render-container > .image-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
}

pc-template > pc-previewable-code-editor iframe.preview {
  border: none;
}
