@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.root {
  display: flex;
  position: relative;
  width: {{_pc.size.width}};
  height: {{_pc.size.height}};
  box-sizing: border-box;
}

.name {
  font-family: 'Audiowide', cursive;
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
  position: absolute;
  left: 46px;
  top: 81px;
  width: 619px;
  height: 82px;
}

.cost {
  text-align: center;
  font-family: 'Audiowide', cursive;
  font-size: 6rem;
  position: absolute;
  left: 662px;
  top: 59px;
  width: 125px;
  height: 125px;
  line-height: 125px;
}

.art {
  position: absolute;
  left: 94px;
  top: 180px;
  width: 653px;
  height: 429px;
}

.stats {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.life, .attack, .armor {
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  color: white;
  width: 78px;
  height: 78px;
  text-align: center;
  position: absolute;
  top: 507px;
}

.life {
  left: 205px;
}

.attack {
  left: 372px;
}

.armor {
  left: 550px;
}

.type {
  width: 80px;
  height: 420px;
  position: absolute;
  left: 84px;
  top: 630px;
}

.type .content {
  transform: rotate(-90deg);
  width: 420px;
  height: 420px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 194px;
  top: 630px;
  width: 553px;
  height: 420px;
}

.text {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem; /** TODO(gs): Use flowtype */
  padding: 25px;
  text-align: justify;
  line-height: 46px;
}

.template {
  display: none;
  width: {{_pc.size.width}};
  height: {{_pc.size.height}};
  position: absolute;
  top: 0;
  left: 0;
  opacity: .1;
}

/* Inline styles */
.icon {
  width: 40px;
  display: inline-block;
  vertical-align: bottom;
}

.icon.circled {
  border: 3px solid black;
  border-radius: 23px;
}
