.asset-view {
  height: 100%;
}

.asset-view .actions {
  width: 500px;
}

.asset-view .title {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.870588);
}

.asset-view .title:hover {
  cursor: pointer;
}

.asset-view > section > md-sidenav > md-content > svg line,
.asset-view > section > md-sidenav > md-content > svg polyline {
  stroke: rgb(117,117,117);
  stroke-width: 5px;
}

.asset-view > section > md-sidenav > md-content > svg line.disabled,
.asset-view > section > md-sidenav > md-content > svg polyline.disabled {
  stroke: rgb(192,192,192);
}

.asset-view > section > md-sidenav > md-content > svg polyline {
  fill: none;
}
