pc-navigate-button > div {
  border: 5px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
}

pc-navigate-button > .selected {
  border-color: rgb(103,58,183);
}

pc-navigate-button > .selected > md-icon {
  color: rgb(103,58,183);
}

pc-navigate-button > .disabled > md-icon {
  color: rgba(0,0,0,.25);
}

pc-navigate-button:hover {
  cursor: pointer;
}
