@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

body {
  background-color: #efefef;
}

[ng-view] {
  height: 100vh;
}

.pc-fill-parent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.pc-context-button {
  position: absolute;
  right: 40px;
  bottom: 40px;
}
